{
  "android": {
    "keystore": {
      "keystorePath": "./depuis.keystore",
      "keystorePassword": "YOUR_KEYSTORE_PASSWORD",
      "keyAlias": "depuis",
      "keyPassword": "YOUR_KEY_PASSWORD"
    }
  }
}
